*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: rgb(47,45,101);
    height: 80px;
    box-shadow: 0 4px 8px 0 rgb(126, 126, 235);
}
header a{
    text-decoration: none;
    margin-top: 12px;
    color: white;
}
#logo{
    font-family: 'Monoton', cursive;
    color: white;
    position: relative;
    font-size: 50px;
    right: 250px;
}
header li{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color:rgb(47,45,101);
    position: relative;
    bottom: 30px;
    padding: 30px;
    color: white;
    position: relative;
    left: 300px;
}
a:hover{
    color: rgb(255,138,62);
}
#content h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: 100px;
    color: rgb(47,45,101);
}
#content p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: 130px;
    width: 600px;
    left: 365px;
    line-height: 25px;
    color: rgb(47,45,101);
}
#feature-box{
    position: relative;
    top: 250px;
}
#feature-box div{
    float: left;
    padding:7px;
    position: relative;
    left: 80px;
    bottom: 50px;
}
#feature-box p{
    width: 300px;
    text-align: center;
    position: relative;
    top: 30px;
}
#ubi{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 40px;
    text-align: center;
}
#exp-staff{
    height: 100px;
    position: relative;
    bottom: 30px;
}
.features{
    color: rgb(47,45,101);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.features h2{
    text-align: center;
    width: 100px;
}
#footer{
    background-color: black;
    height: 500px;
    clear: left;
    position: relative;
    top: 300px;
}
#footer-logo{
    font-size: 40px;
    font-family: 'Monoton', cursive;
    position: relative;
    color:white;
    position: relative;
    top: 200px;
    left: 100px;
    width: 80px;
}
.footer-content h3{
    color: gray;
    font-family: 'Montserrat', sans-serif;
}
.footer-content p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 30px;
}
.footer-content div{
    float: left;
    position: relative;
    left: 400px;
    top: 50px;
    padding: 40px;
}
#ok{
    font-family: 'Montserrat', sans-serif;
    width: 50px;
}
#mail{
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    color: white;
}
#signup{
    color: white;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    border: solid rgb(248, 53, 53);
    background-color:rgb(248, 53, 53);
    width: 130px;
    height: 50px;
    position: relative;
    left: 880px;
    bottom: 50px;
}
#signup h3{
    position: relative;
    top: 10px;
    left: 20px;
}
